$colorHeader: #062436;

.dashboard__page-name {
    margin-top:16px;
    margin-left: 20px;
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    color: $colorHeader;
}

.dashboard__header {
    margin-top:16px;
    margin-left: 20px;
    font-weight: 700;
    font-size: 20px;
    color: $colorHeader
}