$backColorPanel: #062436;
$backColorHead: #353D4B;
$backColorDashboard: #E5E5E5;
$darkScreenBackground: rgba(53, 61, 75, 0.2);

* {
    margin: 0;
    padding: 0;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.02em;
}

body {
    background-color: $backColorDashboard;
};

.app__page {
    display: grid;
    grid-template-rows: 40px 1fr;
    grid-template-columns: 211px 1fr;
};

.app__left-panel {
    width: 211px;
    height: 659px;
    background-color: $backColorPanel;
};

.app__head-buttons {
    margin-top: 22px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    color: gray;

    .head-buttons__inform-panel {
        display:grid;
        grid-template-columns: 70px 80px 100px 100px;

        .inform-panel__bell-icon{
            display: flex;
            justify-content: end;
            padding-right: 7px;
        };
        
        .inform-panel__exit {
            margin-right: 18px;
            text-align: end;
        };
    };
}

.app__dashboard-container {
    margin-top: 21px;
    margin-left: 233px;
    min-width: 1029px;
    height: 598px;
    box-shadow: 1px 1px 4px #E3E9EC;
    background-color: white;
};

.app__footer {
    display: flex;
    justify-content: space-between;
    height: 101px;
}
